

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

div.navbar-default > div.container {background-color:#000000;}

.navbar-default {
  background-color:#000000;
}

div#footer > div.container {background-color:#000000;}

.sticky-footer {
  flex-shrink: none;
  background-color:#000000;
  padding: 0px 0; 
}

div#page-content.home {
  background-image: url(walters-194-044.jpeg);
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}
